---
layout: base
title: Home
pagination: 
    data: photos.fwxweaj.media
    size: 15
permalink: "{% if pagination.pageNumber>0
%}page-{{pagination.pageNumber | plus:1 }}{% 
endif %}/index.html"
---
<header>
    <h1>{{ title }} </h1>
</header>

<main>
    <h2>Laptops 💻</h2>
    <p>95 photos of laptops collected by <a href="https://www.pexels.com/@fotios-photos/collections/">Lisa Fotios</a></p>

    <ul>
        {% for photo in pagination.items -%}
            <li><img src="{{photo.src.tiny}}" alt="{{photo.alt}}" /></li>
        {% endfor -%}
    </ul>
    
    <nav>
        <ul>
            <li>
                {% if pagination.href.previous -%}
                    <a href = "{{ pagination.href.previous }}">Previous</a>
                {% endif -%}
            </li>

            <li>
                {% if pagination.href.next -%}
                    <a href = "{{ pagination.href.next }}">Next</a>
                {% endif -%}
            </li>
        </ul>
    </nav>
</main>

<footer>
    <hr>
    <p>
        <small>
            <a href="https://www.pexels.com">Photos provided by Pexels</a>
        </small>
    </p>
</footer>
