---
layout: base
title: Laptops
pagination: 
    data: photos.fwxweaj.media
    size: 15
permalink: "{% if pagination.pageNumber>0
%}page-{{pagination.pageNumber | plus:1 }}/{% 
endif %}index.html"
---
<header>
    {% include '_nav.html' %}
    <h1>{{ title }} </h1>
    <p>Ninety-five photos of <mark>laptops 💻</mark> collected by <a href="https://www.pexels.com/@fotios-photos/collections/">Lisa Fotios</a>. 
        View collection on <a href="https://www.pexels.com/collections/laptops-fwxweaj/">Pexels</a>!
    </p>
</header>

<main>
    <section>
        <header><h2>Laptop Photo Collection</h2></header>
            {% for photo in pagination.items -%}
        <a href="/CPSC349-Project1/photo/{{photo.id|slugify}}/">
            <img src="{{photo.src.tiny}}" alt="{{photo.alt}}" title="Photo ID: {{photo.id}}" />
        </a>
        {% endfor -%}
    </section>
    
    <section>
        <header><h3>we have more...</h3></header>
        {% include '_page-nav.html' %}
    </section>


</main>