---
layout: base
pagination: 
    data: photos.fwxweaj.media
    size: 1
    alias: photo
permalink: "/photo/{{photo.id|slugify}}/"
---
<main>
    <header>
        {% include '_nav.html' %}
        <h1>Laptop Photo #{{pagination.pageNumber | plus: 1}}</h1>
    </header>

    <section>
        <header><h2>{{ photo.alt }}</h2></header>
            <figure style="border: 1em dashed {{ photo.avg_color}};">
                <img src="{{photo.src.large}}" alt="{{photo.alt}}" />
                <figcaption>
                    Photo id: {{photo.id}}
                </figcaption>
            </figure>
    </section>

    <section>
        <header>
            <h2>
                <strong>Photographer: &nbsp;</strong>
                <a href= "{{photo.photographer_url}}">{{photo.photographer}}</a>
            </h2>
            <hr> 
        </header>
    </section>

    <section>
        <header><h3>Where Are We Going to?</h3></header>
    {% include '_page-nav.html' %}
    </section>
    
</main>

