---
layout: base
pagination: 
    data: photos.fwxweaj.media
    size: 1
    alias: photo
permalink: "/photo/{{photo.id|slugify}}/"
---


<header>
    {% include '_nav.html' %}
    </script>
    {% for photo in pagination.items -%}
        <h1 style="color:{{photo.avg_color}}">{{ photo.alt }} </h1>
    {% endfor -%}
</header>

<main>
    <section>
            <figure>
                <img src="{{photo.src.large}}" alt="{{photo.alt}}" />
                <figcaption>
                    Photo id: {{photo.id}}
                </figcaption>
            </figure>
    </section>
            
    <section>
                <strong>Photographer: &nbsp</strong>
                <a href= "{{photo.photographer_url}}"> 
                    {{photo.photographer}}
                </a>
    </section>
</main>

