<nav>
    <ul>
        <li><a href="{{ pagination.href.first }}"><b>First</b></a></li>
        
        <li>
            {% if pagination.href.previous -%}
                <a href = "{{ pagination.href.previous }}"><b>Previous</b></a>
            {% endif -%}
        </li>
        
        <li>
            Page {{ pagination.pageNumber | plus: 1 }}
        </li>

        <li>
            {% if pagination.href.next -%}
                <a href = "{{ pagination.href.next }}"><b>Next</b></a>
            {% endif -%}
        </li>
        
        <li><a href="{{ pagination.href.last }}"><b>Last</b></a></li>
    </ul>
</nav>