<nav>
    <ul>
        <li><a href="{{ pagination.href.first }}"><a><b>First</a></b></li>
        
        <li>
            {% if pagination.href.previous -%}
                <a href = "{{ pagination.href.previous }}"><b>Previous</a></b>
            {% endif -%}
        </li>
        
        <li>
            Page {{ pagination.pageNumber | plus: 1 }}
        </li>

        <li>
            {% if pagination.href.next -%}
                <a href = "{{ pagination.href.next }}"><b>Next</a></b>
            {% endif -%}
        </li>
        
        <li><a href="{{ pagination.href.last }}"><b>Last</a></b></li>
    </ul>
</nav>